
/* ContentSections.css */
.defaultMargin{
  padding: 5% 10% 0 10%;
  margin-top: 30px;
}
.section {
  padding: 40px;
  margin: 20px 20px 0 20px;
  background-color: whitesmoke;
  border-radius: 18px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Hover Effect for Service Cards */
.section:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 15px rgba(78, 53, 202, 0.2);
}

.title {
  color: black;
  font-size: 2rem;
  margin-bottom: 20px;
}

section p {
  font-size: 1.3rem;
  color: black;
  line-height: 1.2;
}

.home-box{
  font-size: 20px;
}

@media (max-width: 768px) {
  .section {
    margin: 10px 0px 10px 0px;
  }

  .title {
    font-size: 1.2rem;
  }

  p, ul li {
    font-size: 0.8rem;
  }
  .defaultMargin{
    margin-top: 22%;
    padding: 2% 2% 0 2%;
  }
}
